.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.form-input-placeholder::placeholder {
  color: black;
}

.username-style {
  color: rgb(243, 156, 18);
}

.welcome-style {
  color: #375a7f;
}